<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fFirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>9986091718-k472q2c6dfbb7lcht580fcfjqlcg0jvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9986091718-k472q2c6dfbb7lcht580fcfjqlcg0jvt</string>
	<key>API_KEY</key>
	<string>AIzaSyCr1MTn9BOzyfkeRj6T1juwnSBRe40E_2U</string>
	<key>GCM_SENDER_ID</key>
	<string>9986091718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.halvorsen.firetail</string>
	<key>PROJECT_ID</key>
	<string>firetail-db0ab</string>
	<key>STORAGE_BUCKET</key>
	<string>firetail-db0ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:9986091718:ios:80e2204458c91c33</string>
	<key>DATABASE_URL</key>
	<string>https://firetail-db0ab.firebaseio.com</string>
</dict>
</plist>
